spring.config.import: "configserver:"

spring:
  application.name: lotto-draw-service
  cloud.config:
    failFast: true
    retry:
      initialInterval: 3000
      multiplier: 1.3
      maxInterval: 10000
      maxAttempts: 20
    uri: http://lotto-config:8888